In [1]:
import pandas as pd
import glob
import logging
import os

# Configure logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# Define the CSV file directory
csv_directory = os.path.abspath("../data")

# List of files to merge
selected_files = ["adult21.csv", "adult22.csv", "adult23.csv"] # Years to analyze

# Get full file paths for selected files that exist
csv_files = [os.path.join(csv_directory, f) for f in selected_files if os.path.exists(os.path.join(csv_directory, f))]

logging.info(f"Found {len(csv_files)} selected CSV files.")

dataframes = []
for file in csv_files:
    df = pd.read_csv(file)  # Read CSV file
    logging.info(f"Loaded {os.path.basename(file)} with {df.shape[0]} rows and {df.shape[1]} columns.")
        
    dataframes.append(df)

# Concatenate selected DataFrames
final_df = pd.concat(dataframes, ignore_index=True) if dataframes else pd.DataFrame()
logging.info(f"Final merged DataFrame has {final_df.shape[0]} rows and {final_df.shape[1]} columns.")

# Display the first few rows
final_df.head()

2025-03-06 13:09:37,343 - INFO - Found 3 selected CSV files.
2025-03-06 13:09:38,440 - INFO - Loaded adult21.csv with 29482 rows and 622 columns.
2025-03-06 13:09:39,521 - INFO - Loaded adult22.csv with 27651 rows and 637 columns.
2025-03-06 13:09:40,662 - INFO - Loaded adult23.csv with 29522 rows and 647 columns.
2025-03-06 13:09:40,934 - INFO - Final merged DataFrame has 86655 rows and 942 columns.

,URBRRL,RATCAT_A,IMPINCFLG_A,CVDVAC2YR_A,CVDVAC2MR_A,CVDVAC1YR_A,CVDVAC1MR_A,SHTCVD19AV_A,SHTCVD19NM_A,SHTCVD19_A,...,VIMCSURG_A,VIMLSMD_A,VIMMDEV_A,VIMLSGL_A,VIMGLEV_A,VIMLSDR_A,VIMDREV_A,PSOREV_A,ULCCOLEV_A,CROHNSEV_A
0,4,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,12,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,14,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,11,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Key Variables

See link for variable descriptions: https://ftp.cdc.gov/pub/Health_Statistics/NCHS/Dataset_Documentation/NHIS/2023/adult-summary.pdf


| Variable         | Description                                        |
|-----------------|----------------------------------------------------|
| EVERCOVD_A      | Ever had COVID-19                                  |
| SHTCVD191_A     | COVID-19 vaccination                                |
| EMPDAYMISS_A    | Days missed work, past 12 months (top-coded)      |
| HICOV_A         | Have health insurance                             |
| EMDINDSTN1_A    | Detailed 2-digit recode for sample adult's industry |
| SEX_A           | Sex of Sample Adult                               |
| AGEP_A          | Age of SA (top coded)                            |
| EDUCP_A         | Educational level of sample adult                |
| REGION          | Household region                                 |

In [2]:
# Define the list of key variables
selected_columns = [
    "EVERCOVD_A",
    "SHTCVD191_A", 
    "EMPDYSMSS3_A", 
    "HICOV_A", 
    "EMDINDSTN1_A", 
    "SEX_A", 
    "AGEP_A", 
    "EDUCP_A", 
    "REGION"
]

# Create the subset DataFrame
subset_df = final_df[selected_columns]
subset_df.shape

(86655, 9)

In [3]:
subset_df.head()

,EVERCOVD_A,SHTCVD191_A,EMPDYSMSS3_A,HICOV_A,EMDINDSTN1_A,SEX_A,AGEP_A,EDUCP_A,REGION
0,NaN,NaN,9.0,1,44.0,1,50,1,3
1,NaN,NaN,18.0,1,67.0,1,53,7,3
2,NaN,NaN,21.0,1,47.0,1,56,8,3
3,NaN,NaN,NaN,1,NaN,2,57,5,3
4,NaN,NaN,NaN,1,NaN,1,25,4,3

In [4]:
subset_df.tail()

,EVERCOVD_A,SHTCVD191_A,EMPDYSMSS3_A,HICOV_A,EMDINDSTN1_A,SEX_A,AGEP_A,EDUCP_A,REGION
86650,1.0,1.0,NaN,1,NaN,2,77,5,4
86651,1.0,1.0,0.0,1,66.0,2,59,7,4
86652,1.0,2.0,10.0,1,56.0,1,66,8,4
86653,1.0,2.0,0.0,1,65.0,2,53,7,4
86654,2.0,1.0,NaN,1,NaN,2,72,8,4