In [2]:
!pip install httpimport

Collecting httpimport
  Using cached httpimport-1.4.1-py2.py3-none-any.whl.metadata (11 kB)
Using cached httpimport-1.4.1-py2.py3-none-any.whl (17 kB)
Installing collected packages: httpimport
Successfully installed httpimport-1.4.1

In [3]:
import pandas as pd 

import boto3 
import httpimport 
import io

In [4]:
# set s3 variables
s3 = boto3.client('s3')
bucket_name = 'jc-bucket-ads508-2025-finalproject'

file_benefits = './employee_benefits_2010_2024.csv'
s3_key_benefits = 'datasets/employee_benefits_2010_2024.csv'

In [5]:
# import jcds 
with httpimport.github_repo('junclemente', 'jcds', ref='0.1.0'):
    import jcds.eda as jeda

In [6]:
# load dataset from s3 into dataframe
obj = s3.get_object(Bucket=bucket_name, Key=s3_key_benefits)
# read Excel file into dataframe
df = pd.read_csv(io.BytesIO(obj['Body'].read()))

print(df.head())

/tmp/ipykernel_207/3951686190.py:4: DtypeWarning: Columns (11,19,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(io.BytesIO(obj['Body'].read()))

                                 Survey     Estimate category     Datatype  \
0  Incidence and Key Provision Benefits  Benefit combinations  Access rate
1  Incidence and Key Provision Benefits  Benefit combinations  Access rate
2  Incidence and Key Provision Benefits  Benefit combinations  Access rate
3  Incidence and Key Provision Benefits  Benefit combinations  Access rate
4  Incidence and Key Provision Benefits  Benefit combinations  Access rate

                                           Provision         Ownership  \
0  Access to both medical care and retirement ben...  Civilian workers
1  Access to both medical care and retirement ben...  Civilian workers
2  Access to both medical care and retirement ben...  Civilian workers
3  Access to both medical care and retirement ben...  Civilian workers
4  Access to both medical care and retirement ben...  Civilian workers

         Industry       Occupation Characteristic category Characteristic  \
0  All industries  All occupations             All workers    All workers
1  All industries  All occupations             All workers    All workers
2  All industries  All occupations             All workers    All workers
3  All industries  All occupations             All workers    All workers
4  All industries  All occupations             All workers    All workers

   Year  ...                                      Series title   \
0  2010  ...  Percent of civilian workers with access to bot...
1  2011  ...  Percent of civilian workers with access to bot...
2  2012  ...  Percent of civilian workers with access to bot...
3  2013  ...  Percent of civilian workers with access to bot...
4  2014  ...  Percent of civilian workers with access to bot...

                 Series ID Survey code  Ownership code Estimate code  \
0  NBU10000000000000028007          IP               1             0
1  NBU10000000000000028007          IP               1             0
2  NBU10000000000000028007          IP               1             0
3  NBU10000000000000028007          IP               1             0
4  NBU10000000000000028007          IP               1             0

  Industry code Occupation code  Subcell code  Datatype code Provision code
0        000000               0             0             28              7
1        000000               0             0             28              7
2        000000               0             0             28              7
3        000000               0             0             28              7
4        000000               0             0             28              7

[5 rows x 24 columns]

In [9]:
df_filtered = df[(df['Year'] >= 2019) & (df['Year'] <= 2023)]

df_filtered.head()

,Survey,Estimate category,Datatype,Provision,Ownership,Industry,Occupation,Characteristic category,Characteristic,Year,...,Series title,Series ID,Survey code,Ownership code,Estimate code,Industry code,Occupation code,Subcell code,Datatype code,Provision code
9,Incidence and Key Provision Benefits,Benefit combinations,Access rate,Access to both medical care and retirement ben...,Civilian workers,All industries,All occupations,All workers,All workers,2019,...,Percent of civilian workers with access to bot...,NBU10000000000000028007,IP,1,0,000000,0,0,28,7
10,Incidence and Key Provision Benefits,Benefit combinations,Access rate,Access to both medical care and retirement ben...,Civilian workers,All industries,All occupations,All workers,All workers,2020,...,Percent of civilian workers with access to bot...,NBU10000000000000028007,IP,1,0,000000,0,0,28,7
11,Incidence and Key Provision Benefits,Benefit combinations,Access rate,Access to both medical care and retirement ben...,Civilian workers,All industries,All occupations,All workers,All workers,2021,...,Percent of civilian workers with access to bot...,NBU10000000000000028007,IP,1,0,000000,0,0,28,7
12,Incidence and Key Provision Benefits,Benefit combinations,Access rate,Access to both medical care and retirement ben...,Civilian workers,All industries,All occupations,All workers,All workers,2022,...,Percent of civilian workers with access to bot...,NBU10000000000000028007,IP,1,0,000000,0,0,28,7
13,Incidence and Key Provision Benefits,Benefit combinations,Access rate,Access to both medical care and retirement ben...,Civilian workers,All industries,All occupations,All workers,All workers,2023,...,Percent of civilian workers with access to bot...,NBU10000000000000028007,IP,1,0,000000,0,0,28,7

In [10]:
jeda.quick_report(df_filtered)

============================================
Quick Report - info(memory_usage='deep')
Total cols: 24
Rows missing all values: 0 (0.0%)
Total Rows: 244726
Cols with missing values: 2 (8.33%)
Total missing values in dataset: 486173
============================================

In [11]:
jeda.long_report(df_filtered)

============================================
Quick Report - info(memory_usage='deep')
Total cols: 24
Rows missing all values: 0 (0.0%)
Total Rows: 244726
Cols with missing values: 2 (8.33%)
Total missing values in dataset: 486173
============================================
Categorical features: 17
- Survey: 2 unique values
- Estimate category: 7 unique values
- Datatype: 11 unique values
- Provision: 739 unique values
- Ownership: 5 unique values
- Industry: 29 unique values
- Occupation: 18 unique values
- Characteristic category: 6 unique values
- Characteristic: 30 unique values
- Estimate: 13108 unique values
- Estimate footnote: 5 unique values
- Standard error: 10825 unique values
- Series title : 69740 unique values
- Series ID: 70118 unique values
- Survey code: 2 unique values
- Industry code: 32 unique values
- Provision code: 1138 unique values
============================================
Continuous features: 7
- Year: 5 unique values
- Standard error footnote: 3 unique values
- Ownership code: 5 unique values
- Estimate code: 40 unique values
- Occupation code: 18 unique values
- Subcell code: 42 unique values
- Datatype code: 16 unique values

## Continuous Variables

In [12]:
jeda.dqr_cont(df_filtered)

The non-categorical features are:
['Year', 'Standard error footnote', 'Ownership code', 'Estimate code', 'Occupation code', 'Subcell code', 'Datatype code']
Data Quality for Continous Features
Total Features: 7 / 244726 rows

                   Feature   Count  Missing  % missing  Cardinality
0                     Year  244726        0       0.00            5
1  Standard error footnote    1126   243600      99.54            3
2           Ownership code  244726        0       0.00            5
3            Estimate code  244726        0       0.00           40
4          Occupation code  244726        0       0.00           18
5             Subcell code  244726        0       0.00           42
6            Datatype code  244726        0       0.00           16

Descriptive Stats

,count,mean,std,min,25%,50%,75%,max
Year,244726.0,2021.02,1.43,2019.0,2020.0,2021.0,2022.0,2023.0
Standard error footnote,1126.0,2.00,0.03,1.0,2.0,2.0,2.0,2.0
Ownership code,244726.0,2.00,0.79,1.0,1.0,2.0,3.0,5.0
Estimate code,244726.0,21.27,22.77,0.0,14.0,15.0,19.0,98.0
Occupation code,244726.0,78583.40,160474.84,0.0,0.0,0.0,0.0,530000.0
Subcell code,244726.0,10.30,15.06,0.0,0.0,1.0,16.0,59.0
Datatype code,244726.0,25.29,4.72,19.0,20.0,25.0,29.0,39.0

These columns should be categorical:
* Standard error footnote - Footnote code(s) associated with the standard error
* Ownership code - Code used by the NCS to identify economic sector of sampled establishments.
* Estimage code - 2-digit code identifying the benefit type.
* Occupation code - 6-digit code identifying occupation. Occupation codes are derived from Standard Occupational Classification (SOC) code. For more information on SOC, see www.bls.gov/soc/home.
* Subcell code - 2-digit code identifying the worker and establishment characteristics. 
* Datatype code - 2-digit code identifying the unit of measurement.

In [18]:
# convert columns to categorical datatypes
cat_features = ['Standard error footnote', 'Ownership code', 'Estimate code', 'Occupation code', 'Subcell code', 'Datatype code']
df_filtered[cat_features] = df_filtered[cat_features].astype("category")
print(df_filtered.dtypes)

Survey                       object
Estimate category            object
Datatype                     object
Provision                    object
Ownership                    object
Industry                     object
Occupation                   object
Characteristic category      object
Characteristic               object
Year                          int64
Estimate                     object
Estimate footnote            object
Standard error               object
Standard error footnote    category
Series title                 object
Series ID                    object
Survey code                  object
Ownership code             category
Estimate code              category
Industry code                object
Occupation code            category
Subcell code               category
Datatype code              category
Provision code               object
dtype: object

/tmp/ipykernel_207/458391573.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[cat_features] = df_filtered[cat_features].astype("category")

In [19]:
jeda.dqr_cont(df_filtered)

The non-categorical features are:
['Year']
Data Quality for Continous Features
Total Features: 1 / 244726 rows

  Feature   Count  Missing  % missing  Cardinality
0    Year  244726        0        0.0            5

Descriptive Stats

         count     mean   std     min     25%     50%     75%     max
Year  244726.0  2021.02  1.43  2019.0  2020.0  2021.0  2022.0  2023.0

All columns have been converted to categorical data except for 'Year'.

In [20]:
jeda.dqr_cat(df_filtered)

The categorical features are:
['Survey', 'Estimate category', 'Datatype', 'Provision', 'Ownership', 'Industry', 'Occupation', 'Characteristic category', 'Characteristic', 'Estimate', 'Estimate footnote', 'Standard error', 'Standard error footnote', 'Series title ', 'Series ID', 'Survey code', 'Ownership code', 'Estimate code', 'Industry code', 'Occupation code', 'Subcell code', 'Datatype code', 'Provision code']
Data Quality Report for Categorical Features
Total features: 23 / 244726 rows
============================================
Stats
-----

                    Feature   Count  Missing  % Missing  Cardinality
0                    Survey  244726        0       0.00            2
1         Estimate category  244726        0       0.00            7
2                  Datatype  244726        0       0.00           11
3                 Provision  244726        0       0.00          739
4                 Ownership  244726        0       0.00            5
5                  Industry  244726        0       0.00           29
6                Occupation  244726        0       0.00           18
7   Characteristic category  244726        0       0.00            6
8            Characteristic  244726        0       0.00           30
9                  Estimate  244726        0       0.00        13108
10        Estimate footnote    2153   242573      99.12            5
11           Standard error  244726        0       0.00        10825
12  Standard error footnote    1126   243600      99.54            3
13            Series title   244726        0       0.00        69740
14                Series ID  244726        0       0.00        70118
15              Survey code  244726        0       0.00            2
16           Ownership code  244726        0       0.00            5
17            Estimate code  244726        0       0.00           40
18            Industry code  244726        0       0.00           32
19          Occupation code  244726        0       0.00           18
20             Subcell code  244726        0       0.00           42
21            Datatype code  244726        0       0.00           16
22           Provision code  244726        0       0.00         1138

Mode 1
------

,Feature,Mode 1,Mode 1 Freq.,Mode 1 %
0,Survey,Incidence and Key Provision Benefits,212833,86.97
1,Estimate category,Healthcare benefits,64637,26.41
2,Datatype,Participation rate,88649,36.22
3,Provision,Medical care: single coverage,875,0.36
4,Ownership,Private industry workers,107726,44.02
5,Industry,All industries,189244,77.33
6,Occupation,All occupations,189591,77.47
7,Characteristic category,All workers,118686,48.50
8,Characteristic,All workers,118686,48.50
9,Estimate,1,5604,2.29
10,Estimate footnote,1.0,1395,64.79
11,Standard error,0.0,11195,4.57
12,Standard error footnote,2.0,1125,99.91
13,Series title,Percent of private industry workers with acces...,44,0.02
14,Series ID,NBU10000000000000028020,5,0.00
15,Survey code,IP,212833,86.97
16,Ownership code,2,107726,44.02
17,Estimate code,15,55927,22.85
18,Industry code,000000,180676,73.83
19,Occupation code,0,189591,77.47
20,Subcell code,0,118686,48.50
21,Datatype code,20,78612,32.12
22,Provision code,133,875,0.36

Mode 2
------

,Feature,Mode 2,Mode 2 Freq.,Mode 2 %
0,Survey,Detailed Provision Benefits,31893,13.03
1,Estimate category,Insurance benefits,61346,25.07
2,Datatype,Access rate,77441,31.64
3,Provision,"Access to personal leave, sick leave, paid fam...",875,0.36
4,Ownership,Civilian workers,70131,28.66
5,Industry,Service-providing,4556,1.86
6,Occupation,"Management, professional and related occupations",4582,1.87
7,Characteristic category,Census area,51478,21.03
8,Characteristic,100 workers or more,5320,2.17
9,Estimate,2,4975,2.03
10,Estimate footnote,4.0,719,33.40
11,Standard error,0.00,10227,4.18
12,Standard error footnote,1.0,1,0.09
13,Series title,Percent of state and local government workers ...,23,0.01
14,Series ID,NBU10000000000000028019,5,0.00
15,Survey code,DP,31893,13.03
16,Ownership code,1,70131,28.66
17,Estimate code,16,22912,9.36
18,Industry code,0,8568,3.50
19,Occupation code,112900,4582,1.87
20,Subcell code,5,5320,2.17
21,Datatype code,28,37930,15.50
22,Provision code,141,866,0.35

Descriptive Stats
-----------------

,count,unique,top,freq
Survey,244726,2,Incidence and Key Provision Benefits,212833
Estimate category,244726,7,Healthcare benefits,64637
Datatype,244726,11,Participation rate,88649
Provision,244726,739,Medical care: single coverage,875
Ownership,244726,5,Private industry workers,107726
Industry,244726,29,All industries,189244
Occupation,244726,18,All occupations,189591
Characteristic category,244726,6,All workers,118686
Characteristic,244726,30,All workers,118686
Estimate,244726,13108,1,5604
Estimate footnote,2153.0,4.0,1.0,1395.0
Standard error,244726,10825,0.0,11195
Series title,244726,69740,Percent of private industry workers with acces...,44
Series ID,244726,70118,NBU10000000000000028020,5
Survey code,244726,2,IP,212833
Industry code,244726,32,000000,180676
Provision code,244726,1138,133,875

In [21]:
# drop columns due to large amount of missing values
cols_to_drop = ['Estimate footnote', 'Standard error footnote']

df_filtered = df_filtered.drop(columns=cols_to_drop)

In [22]:
jeda.dqr_cat(df_filtered)

The categorical features are:
['Survey', 'Estimate category', 'Datatype', 'Provision', 'Ownership', 'Industry', 'Occupation', 'Characteristic category', 'Characteristic', 'Estimate', 'Standard error', 'Series title ', 'Series ID', 'Survey code', 'Ownership code', 'Estimate code', 'Industry code', 'Occupation code', 'Subcell code', 'Datatype code', 'Provision code']
Data Quality Report for Categorical Features
Total features: 21 / 244726 rows
============================================
Stats
-----

                    Feature   Count  Missing  % Missing  Cardinality
0                    Survey  244726        0        0.0            2
1         Estimate category  244726        0        0.0            7
2                  Datatype  244726        0        0.0           11
3                 Provision  244726        0        0.0          739
4                 Ownership  244726        0        0.0            5
5                  Industry  244726        0        0.0           29
6                Occupation  244726        0        0.0           18
7   Characteristic category  244726        0        0.0            6
8            Characteristic  244726        0        0.0           30
9                  Estimate  244726        0        0.0        13108
10           Standard error  244726        0        0.0        10825
11            Series title   244726        0        0.0        69740
12                Series ID  244726        0        0.0        70118
13              Survey code  244726        0        0.0            2
14           Ownership code  244726        0        0.0            5
15            Estimate code  244726        0        0.0           40
16            Industry code  244726        0        0.0           32
17          Occupation code  244726        0        0.0           18
18             Subcell code  244726        0        0.0           42
19            Datatype code  244726        0        0.0           16
20           Provision code  244726        0        0.0         1138

Mode 1
------

,Feature,Mode 1,Mode 1 Freq.,Mode 1 %
0,Survey,Incidence and Key Provision Benefits,212833,86.97
1,Estimate category,Healthcare benefits,64637,26.41
2,Datatype,Participation rate,88649,36.22
3,Provision,Medical care: single coverage,875,0.36
4,Ownership,Private industry workers,107726,44.02
5,Industry,All industries,189244,77.33
6,Occupation,All occupations,189591,77.47
7,Characteristic category,All workers,118686,48.50
8,Characteristic,All workers,118686,48.50
9,Estimate,1,5604,2.29
10,Standard error,0.0,11195,4.57
11,Series title,Percent of private industry workers with acces...,44,0.02
12,Series ID,NBU10000000000000028020,5,0.00
13,Survey code,IP,212833,86.97
14,Ownership code,2,107726,44.02
15,Estimate code,15,55927,22.85
16,Industry code,000000,180676,73.83
17,Occupation code,0,189591,77.47
18,Subcell code,0,118686,48.50
19,Datatype code,20,78612,32.12
20,Provision code,133,875,0.36

Mode 2
------

,Feature,Mode 2,Mode 2 Freq.,Mode 2 %
0,Survey,Detailed Provision Benefits,31893,13.03
1,Estimate category,Insurance benefits,61346,25.07
2,Datatype,Access rate,77441,31.64
3,Provision,"Access to personal leave, sick leave, paid fam...",875,0.36
4,Ownership,Civilian workers,70131,28.66
5,Industry,Service-providing,4556,1.86
6,Occupation,"Management, professional and related occupations",4582,1.87
7,Characteristic category,Census area,51478,21.03
8,Characteristic,100 workers or more,5320,2.17
9,Estimate,2,4975,2.03
10,Standard error,0.00,10227,4.18
11,Series title,Percent of state and local government workers ...,23,0.01
12,Series ID,NBU10000000000000028019,5,0.00
13,Survey code,DP,31893,13.03
14,Ownership code,1,70131,28.66
15,Estimate code,16,22912,9.36
16,Industry code,0,8568,3.50
17,Occupation code,112900,4582,1.87
18,Subcell code,5,5320,2.17
19,Datatype code,28,37930,15.50
20,Provision code,141,866,0.35

Descriptive Stats
-----------------

,count,unique,top,freq
Survey,244726,2,Incidence and Key Provision Benefits,212833
Estimate category,244726,7,Healthcare benefits,64637
Datatype,244726,11,Participation rate,88649
Provision,244726,739,Medical care: single coverage,875
Ownership,244726,5,Private industry workers,107726
Industry,244726,29,All industries,189244
Occupation,244726,18,All occupations,189591
Characteristic category,244726,6,All workers,118686
Characteristic,244726,30,All workers,118686
Estimate,244726,13108,1,5604
Standard error,244726,10825,0.0,11195
Series title,244726,69740,Percent of private industry workers with acces...,44
Series ID,244726,70118,NBU10000000000000028020,5
Survey code,244726,2,IP,212833
Industry code,244726,32,000000,180676
Provision code,244726,1138,133,875

## Data prepped for AutoML

In [23]:
# upload processed dataset to s3
df_filtered.to_csv("processed_employee_benefits.csv", index=False) 

s3.upload_file("processed_employee_benefits.csv", bucket_name, "processed/processed_employee_benefits.csv")

print("Cleaned data uploaded to S3!")

Cleaned data uploaded to S3!